@model IEnumerable<ProductsDto>
<div class="container row">
    @await Component.InvokeAsync("Notyf")
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <div class="p-0 my-3 border rounded">
                <div class="card mb-0">
                    <h3 class="card-header">@item.Name</h3>
                    <div class="card-body">
                        <h5 class="card-title">Price</h5>
                        <h6 class="card-subtitle text-primary">@string.Format("{0:c}", item.Price) </h6>
                    </div>
                    @if (item.ImageLocalPath == null)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200"
                             aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180"
                             style="font-size:1.125rem;text-anchor:middle">
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                        </svg>
                    }
                    else
                    {
                        <img src="@item.ImageUrl" class="detailImage" width="385" height="250" />
                    }
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-body">
                        <a type="submit" class="btn btn-success form-control" asp-action="Details" asp-route-id="@item.ProductId">Check Product Details</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
        </div>
    }
</div>